* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body{
    font-size: 20px;
    overflow-x: hidden;
    color: aliceblue;
    font-family: 'Luckiest Guy', cursive;
}
header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(26, 26, 51, 0.6)), url(../images/cake.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
.clearfix:after{
    content:".";
    visibility:hidden;
    display: block;
    height: 0px;
    clear: both;
}
.row{
    max-width: 1180px;
    margin: 0% auto;
}
.logo {
    height: 120px;
    width: auto;
    float: left;
    margin-top: 20px;

}
.main-nav{
    float: Right ;
    margin-top: 60px;
}
.main-nav li {
    display: inline-block;
    list-style : none;
    margin-left: 60px;
}
.main-nav li a{
    padding: 5px 0%;
    color: aliceblue;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
   
}
.main-nav li a:hover{
    border-bottom: 2px solid slateblue;
}
.main-content-header{
    width: 1180px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
h1{
    color:rgb(241, 250, 252);
    font-size: 240%;
    word-spacing: 5px;
    letter-spacing: 3px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: lighter;
}
.btn{
    display: inline-block;
    padding: 10px 30px;
    font-weight: lighter;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}
.btn-full{
    background-color: transparent;
    color: antiquewhite;
    margin-right: 15px;
    border: 1px solid slateblue;
}
.btn-full:hover{
    background-color: rgb(66, 125, 177);
}
.btn-more{
    background-color: transparent;
    color: antiquewhite;
    border: 1px solid rgb(119, 193, 236);
}
.btn-more:hover{
    background-color: rgb(149, 126, 231);
}
.colorchange{
    animation: colorchangeshaharia 1s infinite;
}
@keyframes colorchangeshaharia{
    0%{color: brown;}
    25%{color: rebeccapurple; }
    50%{color: white;}
    100%{color: purple;}
}
.mobile-icon{display:none;}
/*responsive queries*/
@media only screen and (max-width:1330px){
    .main-content-header{
        width:100%;
        padding-top: 2%;
        padding:2%;
    }
}
@media only screen and (max-width:998px){
    h1{
        font-size: 200%;
    }
}
@media only screen and (max-width:804px){
    h1{font-size: 180%;}
    .main-nav{display:none;}
    .mobile-icon{ display: inline-block;
                color: ghostwhite;
                 float: right;
                margin-top: 30px;
                margin-right: 20px;
             }
    .main-nav{
        float: left;
    }
    .main-nav li{
        
        display: block;
        margin-top: 10px;

    }
}
@media only screen and (max-width:460px){
         .btn-full{
             margin-bottom: 20px;
         }
}